# Environment variables
.env

requirements.txt

# Python
myenv/
__pycache__/
uploads/
.pytest_cache/

docs/

# IDEs
.vscode
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Database
*.db

# Uploads
uploads/

dump.rdb
*.rdb

# Playwright artifacts
frontend/test-results/
frontend/playwright-report/
